{% extends "base_new.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block main %}
<div class="hero"></div>
<div class="container main">
<h1>Anda berhasil login</h1>
{#    <div class="row main__header">#}
{#        <div class="container">#}
{#            <div class="row main__profile-pic justify-content-center mb-4">#}
{#                <img src="{% static 'img/pp@3x.png' %}" alt="profile">#}
{#            </div>#}
{#            <div class="row main__name justify-content-center">#}
{#                <h1 class="text-center">{{ user.name}}</h1>#}
{#            </div>#}
{#            <div class="row main__subtitle text-center justify-content-center mb-2">#}
{#                {{ user.subtitle }}#}
{#            </div>#}
{#            <div class="row main__location text-center justify-content-center mb-3">#}
{#                {{ user.location }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="main__toolbar">#}
{#        <a class="main__item" href="#"><i class="icon-pencil icons"></i></a>#}
{#        <a class="main__item" href="#"><i class="icon-options icons"></i></a>#}
{#    </div>#}
{#    <div class="row main__body">#}
{#        <div class="container">#}
{#            <div class="row main__exp">#}
{#                <div class="container-fluid">#}
{#                    <div class="card bg-white-grey">#}
{#                        <div class="card-body">#}
{#                            <div class="container">#}
{#                                <div class="row">#}
{#                                    <h4 class="main__title">Experiences</h4>#}
{#                                </div>#}
{#                                {% for exp in user.experiences %}#}
{#                                <div class="row main__item p-3 mt-3">#}
{#                                    <div class="col-lg-auto main__logo mb-lg-0 mb-4 text-center">#}
{#                                        <img class="img-responsive" src="{{ exp.company_logo }}" alt="company-logo">#}
{#                                    </div>#}
{#                                    <div class="col-lg-7 text-lg-left text-center">#}
{#                                        <div class="row main__title">#}
{#                                            <div class="col">#}
{#                                                {{ exp.company }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="row main__position mb-lg-0 mb-2">#}
{#                                            <div class="col">#}
{#                                                {{ exp.position }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="row main__description">#}
{#                                            <div class="col">#}
{#                                                {{ exp.description }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col mt-lg-0 mt-3">#}
{#                                        <div class="row">#}
{#                                            <div class="col-3 col-lg-12 text-right">#}
{#                                                <small>start from</small>#}
{#                                            </div>#}
{#                                            <div class="col-3 col-lg-12 text-left text-lg-right main__date">#}
{#                                                {{ exp.start }}#}
{#                                            </div>#}
{#                                            <div class="col-3 col-lg-12 text-right">#}
{#                                                <small>until</small>#}
{#                                            </div>#}
{#                                            <div class="col-3 col-lg-12 text-left text-lg-right main__date">#}
{#                                                {{ exp.end }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>
{% endblock %}