.main {
  margin-top: -14em;
  background-color: white;
  border-radius: .5em;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  padding: 2em;
  position: relative; }
  .main .main__header {
    margin-top: -5.75em;
    font-family: 'Open Sans', sans-serif; }
    .main .main__header .main__profile-pic img {
      width: 7.5em;
      height: 7.5em; }
    .main .main__header .main__name {
      font-weight: 700;
      color: rgba(77, 161, 255, 0.74); }
    .main .main__header .main__location {
      font-weight: 400;
      color: #a6a6a6; }
  .main .main__toolbar {
    position: absolute;
    top: 21px;
    right: 21px; }
    .main .main__toolbar .main__item {
      font-size: 1.375em;
      color: #dde2e7;
      margin: 0 0.5em; }
      .main .main__toolbar .main__item:hover {
        color: black;
        text-decoration: none; }
  .main .main__exp .main__title {
    font-weight: 400; }
  .main .main__exp .main__item {
    background-color: white;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1); }
    .main .main__exp .main__item .main__logo > img {
      width: 7.5em;
      height: auto;
      border-radius: 3.75em;
      border: 2px solid #a6a6a6;
      box-sizing: border-box; }
    .main .main__exp .main__item .main__title {
      font-weight: bolder;
      font-size: 1.5em; }
    .main .main__exp .main__item .main__position {
      font-size: 1.125em;
      color: #a6a6a6; }
    .main .main__exp .main__item .main__description {
      font-size: small; }
    .main .main__exp .main__item .main__date {
      font-weight: 800;
      font-size: 1.45rem; }

.hero {
  background: url("../img/home_photo.png") center center;
  background-size: cover;
  height: 30em;
  width: 100%; }

.statusbar__container {
  font-family: 'Open Sans', sans-serif;
  color: #a6a6a6;
  background-color: white;
  padding: 1.25em;
  border-radius: .5em; }

.filter__container {
  background-color: #ebf4ff;
  padding: 2rem;
  box-shadow: 0 30px 43px rgba(0, 0, 0, 0.04); }

.vacancies__container {
  background-color: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 30px 43px rgba(0, 0, 0, 0.04); }

.vacancy__container {
  background-color: white;
  border: 1px solid #d1d1d1;
  padding: 0.875em;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  color: #000; }
  .vacancy__container:hover {
    cursor: pointer;
    text-decoration: none;
    -webkit-animation: shadow-drop-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: shadow-drop-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
  .vacancy__container:active {
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both; }
  .vacancy__container .vacancy__company-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #a6a6a6; }
  .vacancy__container .vacancy__title {
    font-weight: 800; }
  .vacancy__container .vacancy__location {
    margin-top: 0.875em;
    color: #a6a6a6;
    text-align: right;
    font-size: 0.5em; }

/* ----------------------------------------------
 * Generated by Animista on 2018-3-21 19:21:7
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-drop-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: translate(0px, 0px); }
  100% {
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    transform: translate(0px, -12px); } }
@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: translate(0px, 0px); }
  100% {
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    transform: translate(0px, -12px); } }
/* ----------------------------------------------
 * Generated by Animista on 2018-3-21 19:25:53
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-inset-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5); } }
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0); }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5); } }

/*# sourceMappingURL=page__vacancy.css.map */
