$color-blue: #4da1ff;
$color-light-grey: #fafbfc;
$color-pinkish-grey: #cccccc;

$primary-color: $color-blue;

$profile-pic-size: 7.5em;

html,
body {
  height: 100%;
}

body {
  width: 100%;
  background-color: #f4f8f9 !important;
}

.bg-light-grey {
  background-color: #fafbfc !important;
}

.bg-white-grey {
  background-color: #fafafa !important;
}

.btn.btn-flat {
  border: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  padding: 1rem;
}

.input {
  .input-group-prepend.input__prepend-icon {
    border-left: 0;
    .input-group-text {
      border-right: 0;
      background-color: white;
      padding-left: 1.5em;
      padding-right: 1em;
    }
  }

  .input-group-append {
    .btn {
      border: 1px solid #ced4da;
      border-left: 0;
    }
  }

  .form-control {
    border-left: none;
  }
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid $color-pinkish-grey;

  .nav-item {
    padding-left: 1.5em;
    padding-right: 1.5em;

    &.active {
      .nav-link {
        position: relative;

        &:before {
          content: '';
          background-color: $primary-color;
          width: 88%;
          height: 10%;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
}

#main {
  padding-left: 0;
  padding-right: 0;
}

.page__container {
  margin-top: 5em;
}

.page__header {
  .page__title {
    font-family: 'PT Sans', sans-serif;
    padding-left: 1em;
  }
}

.box-shadow {
  box-shadow: 0 30px 43px rgba(0, 0, 0, 0.04);
}

.box-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.logo {
  height: auto;
  border: 2px solid #a6a6a6;
  box-sizing: border-box;

  &.logo-large {
    width: $profile-pic-size;
    border-radius: $profile-pic-size / 2;
  }

  &.logo-small {
    width: $profile-pic-size / 4;
    border-radius: $profile-pic-size / 2 / 4;
  }
}