
h1{
	margin-top: 0;
}

#button {
	margin: 20px 0 0 0;
}

#delete {
	transition: 0.3s all linear;
}

#description {
	width: 100%
}

#title-section{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images_company/company-profile-wallpaper.jpeg');
	background-size: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 400px;
	text-align: center;
	padding: 7%;
	color: white;
}

#company-title{
	font-size: 60px;
	text-shadow: 3px 3px 10px black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#company-name{
	margin-top: 3%;
	font-size: 30px;
	text-shadow: 2px 2px 5px black;
}

.btn-login {
	-webkit-border-radius: 54;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family:'Lato', sans-serif;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	border: solid #ffffff 2px;
	box-shadow: 1px 1px 6px black;
	text-decoration: none;
	text-shadow: 2px 2px 5px black;
	background-color: transparent;
}

.btn-login:hover {
	background: #222222;
	text-decoration: none;
	color: #ffffff;
	border: solid #222222 2px;
	transition: 0.3s all linear;
}

#about-section{
	margin-top: 5%;
}

#about-company{
	font-size: 2.5em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

#about{
	font-size: 25px;
	font-weight: 500;
	vertical-align: baseline;
	margin-left: 3%;
}

#company-details{
	font-size: 25px;
	font-weight: 500;
	vertical-align: baseline;
}

#companyType{
	margin-top: 0;
}

#description{
	margin-top: 1.5	%;
}

#job-list{
	padding-top: 2%;
}

#job-description{
	margin-top: 2%;
}


/* Job Posting */
#posting-job {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images_company/company-posting-wallpaper.jpg');
	background-size: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 400px;
	text-align: center;
	padding: 3%;
	color: white;
	margin-top: 4%;
	text-shadow: 2px 2px 5px black;
}


/* Navbar */
.navbar .navbar-brand {
	color: white;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	margin-left: 30%;
}

.navbar {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

.nav li {
	display: inline;
	color: white;
	list-style: none;
}

.navbar .navbar-header > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-header a:hover {
	width: 150%;
	transition: 0.7s all linear;
	height: 150%;
}

.navbar .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}

.nav-btn {
	line-height: 60px;
	font-family:'Lato', sans-serif;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.nav-btn:hover {
	background-color: #000080;
	text-decoration: none;
	transition: 0.3s all linear;
}

#each-job-title{
	font-weight: 900;
}

#each-job{
	border: 2px solid lightgrey;
	border-radius: 12px;
	padding: 0 0 10px 10px;
}
