{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
{% endblock %}


{% block content %}
<div class="container">
	<div class="modal-body">
		<form action="{% url 'auth:user-login' %}" method="POST">
			{% csrf_token %}
			<p>
				<label for="username"> Your username </label>
				<input type="text" id="username" name="username" required>
			</p>
			<p>
				<label for="password"> Your password </label>
				<input type="password" id="password" name="password" required>
			</p>
			<input type="submit" class="btn btn-primary">
		</form>
	</div>			
</div>

{% endblock %}
